pyrogram==2.0.106
tgcrypto
py-tgcalls==1.0.12
yt-dlp
youtube-search-python
youtube-search
aiohttp
Pillow
numpy
unidecode
aiofiles
pyromod
requests
redis
gTTS
pytz
kvsqlite
beautifulsoup4
telegraph
wget
python-dotenv
lyricsgenius
